 <div class="profile-card card mx-auto m-5"style="width: 18rem;" id="profile-card">
        <img class="card-img-top p-2" src="https://via.placeholder.com/300x300" alt="Card image cap" />
        <div class="card-body">  
          <h5 class="profile-name">{{randomUser.name}}, {{randomUser.age}}</h5>
          <h6 class="profile-location"><b>{{randomUser.location}}</b></h3>
              <div class="profile-height"> <b>Height:</b> {{randomUser.height}}m</div>
              <div class="profile-build"><b>Build:</b> {{randomUser.build}}</div>
              <div class="profile-serious"><b>Seriousness:</b>{{randomUser.seriousness}}
              </div>
          <div class="profile-bio">
      <b>Bio:</b>  {{randomUser.about_me}}
          </p>
        </div>
        <div class="profile-links">
            <button type="button" id="no" class="btn btn-danger" >No</button>
           <button type="button" id="view-more" data-id={{randomUser.id}} class="btn btn-info"> View Profile </button>
                <button type="button" id="yes" data-id={{randomUser.id}} class="btn btn-success">Yes</button>
            </div>
       </div>