<div
  class="profile-card card mx-auto m-5"
  style="width: 18rem;"
  id="profile-card"
>
  <div class="card-summary">
    <h5 class="profile-name">{{name}}, <b>{{age}}</b></h5>
    <h6 class="profile-location"><small>{{location}}</small></h6>
  </div>
  <img class="card-img-top" src="{{img}}" alt="Card image cap" />
  <div class="card-body">
    <div class="row">
      <div class="col-6"><b>Height:</b></div>
      <div class="col-6">{{height}}</div>
      <div class="w-100"></div>
      <div class="col-6"><b>Build:</b></div>
      <div class="col-6">{{build}}</div>
      <div class="w-100"></div>
      <div class="col-6"><b>Seriousness:</b></div>
      <div class="col-6">{{seriousness}}</div>
    </div>
    <hr />
    <div class="profile-bio mt-2">{{about_me}}</div>
  </div>
</div>