<header>
  {{> private-navbar}}
</header>

<main class="container mt-4">
  <div class="updateModal-container"></div>
  {{!-- User info section --}}
  <section class="jumbotron-styling">
    <div class="row">
      <div class="col-sm">
        <div class="p-2">
          <img src="{{user.img}}" alt="" class="profile-img" />
        </div>
        <div class="p-2 text-center">
          <h2>{{user.name}}, {{user.age}}</h2>
          <h3 class="fs-5">{{user.location}}</h3>
          <div><strong>Seriousness: </strong>{{user.seriousness}}</div>
          <div>
            <button class="btn-styling mt-4 p-3" id="{{user.id}}" name="updateBtn">
              Update info
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm profile-details-text">
        <div class="p-2">
          <h3>My Details</h3>
          <p><strong>Height: </strong>{{user.height}}</p>
          <p><strong>Build: </strong>{{user.build}}</p>
          <p><strong>Gender: </strong>{{user.gender}}</p>
          <p><strong>Sexuality: </strong>{{user.sexuality}}</p>
        </div>
        <div class="p-2">
          <h3 class="mt-4">About Me</h3>
          <p>{{user.aboutMe}}</p>
        </div>
      </div>
    </div>
  </section>

  <hr />

  {{!-- Matches section --}}
  <section class="mt-4">
    <h3 class="text-center pink-text">{{user.name}}'s Matches</h3>
    <div class="d-flex flex-wrap justify-content-center">
      {{#if matches.length}}
      {{#each matches}}
      {{> profile-card}}
      {{/each}}
      {{else}}
      <h1>NO MATCHES</h1>
      {{/if}}
    </div>
  </section>
</main>